# Eigene Fehlerseiten
ErrorDocument 403 http://www.masseffect-universe.de/403.html
ErrorDocument 404 http://www.masseffect-universe.de/404.html

<IfModule mod_rewrite.c>
    # Aktiviere RewriteEngine
    RewriteEngine On

    # "www" erzwingen, falls keine Subdomain gesetzt ist
    RewriteCond %{HTTP_HOST} ^[^.]*\.[^.]*$
    RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]

    # Weiterleitung fuer alte Bilder-Pfade
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^images/(.*)$ /media/$1 [R=301,L,QSA]

    # SEO-URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)\.html$ index.php?seoq=$1 [L,QSA]
</IfModule>

# Default page
DirectoryIndex index.php index.html index.cgi index.pl index.xhtml

# Caching
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/x-icon "access plus 1 year"
